{
  "root": true,
  "extends": ["standard", "prettier", "prettier/standard"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  }
}
