{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "prettier/standard"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
